
/* Base style */
body {
  background-image: url('../images/background_main.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  body {
      font-size: 14px;
  }
  /* Navigation bar styles for smaller screens */
  .nav1 {
      padding: 14px 16px;
      background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
  }
  .nav1 ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .nav1 li {
      margin: 0px 10px;
  }
  .nav1 a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
  }
  .nav1 a:hover {
      background-color: white;
      color: #333;
  }

  /* Navigation bar styles for smaller screens */
  .nav2 {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgba(51, 51, 51, 0.5);
  }
  .nav2 ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
  }
  .nav2 li {
      margin: 0px 10px;
  }
  .nav2 li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  .nav2 li a:hover {
      background-color: #111;
  }
}

/* Media query for screens larger than 600px */
@media (min-width: 601px) {
  body {
      font-size: 18px;
  }
  /* Navigation bar styles for larger screens */
  .nav1 {
      background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
      padding: 14px 16px;
  }
  .nav1 ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .nav1 li {
      margin: 0px 10px;
  }
  .nav1 a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
  }
  .nav1 a:hover {
      background-color: white;
      color: #333;
  }

  /* Navigation bar styles for larger screens */
  .nav2 {
      list-style-type: none;
      margin: 0;
      padding: 14px 16px;
      overflow: hidden;
      background-color: rgba(51, 51, 51, 0.6);
  }
  .nav2 ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
  }
  .nav2 li {
      margin: 0px 10px;
  }
  .nav2 li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  .nav2 li a:hover {
      background-color: #111;
  }
}

/* Other styles */
.hidden {
  display: none;
}

.hiddenLinks {
    background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

#hiddenLinks4 {
    background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
    padding: 20px; /* Padding inside the container */
    color: #CBC4C4; /* Text color */

}


.ltext {
    background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
    padding: 20px; /* Padding inside the container */
    color: #CBC4C4; /* Text color */

}

.titles {
  color:  #CBC4C4;
  background-color: rgba(51, 51, 51, 0.8); /* 0.8 is the alpha value for 80% opacity */
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding: 5px;
  margin: 0;
  border: none;
}


/*Style for the password entry field on the main.html */
.password-form {
    text-align: right; /* Align the contents to the right */
  }
.password-form input[type="password"],
.password-form button {
    background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
    color: white; /* Set the text color to white */
    border: none; /* Remove the border */
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 4px; /* Add border radius for rounded corners */
}

.password-form button {
    cursor: pointer; /* Set cursor to pointer for button */
}


/*Text colour, for dark backgrounds*/
.text {
  color:#CBC4C4;
}

/*Text class to add a black background to the text added*/

.texte {
    display: inline-block; /* Display as inline-block */
    background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
    padding: 20px; /* Padding inside the box */
    margin: 20px; /* Margin around the box */
    border: none; /* Remove the border */
    text-align: center;
    color:#CBC4C4;
  }

.textl {
  display: inline-block; /* Display as inline-block */
  background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
  padding: 20px; /* Padding inside the box */
  border: 1px solid #ffffff;
  margin: 20px 0 10px; /* Margin around the box: 20px on top and bottom, 0 on the sides */
  text-align: left;
  color:#CBC4C4;
  list-style-type: none;
}

.textp {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
    padding: 20px; /* Padding inside the container */
    color: #CBC4C4; /* Text color */
    
}

.list li {
  list-style-type: none;
  border: 1px solid #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}


  
.listv {
    list-style-type: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
.listv li {
    border: 1px solid #ffffff; /* Border around each list item */
    padding: 10px; /* Padding inside each list item */
    margin-bottom: 10px; /* Margin at the bottom to space out the list items */
    background-color: transparent; /* Make the list items' background transparent */
    color: inherit; /* Inherit text color from the container */
  }

#partial-links {
    background-color: rgba(51, 51, 51, 0.6); /* 0.8 is the alpha value for 80% opacity */
    padding: 20px; /* Padding inside the container */
    color: #CBC4C4; /* Text color */
    
}

body.main {
    background-image: url('../images/main_backdrop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

body.asirion {
background-image: url('../images/asirion_backdrop.png');
background-repeat: no-repeat;
background-attachment: fixed; 
background-size: 100% 100%;
}

body.etchfield {
  background-image: url('../images/etchfield_backdrop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

body.sinthalor {
    background-image: url('../images/sinthalor_backdrop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


body.verdius {
    background-image: url('../images/verdius_backdrop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

body.azeroth {
    background-image: url('../images/azeroth_backdrop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

body.verdial {
    background-image: url('../images/verdial_backdrop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}




















